body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    /* background-color: blue; */
    background: papayawhip;
    /* color: darkblue; */
    color: rgb(0, 0, 0);
}

p {
    /* color: rgba(0, 0, 0, 0.5); */
    /* color: #0000ff; */
    /* color: #00f; */
    /* color: #808080; */
    color: #333;
}
