@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/** Typography is the way that text is arranged and presented. **/

body {
    padding: 10%;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

/*  input,
button {
   font: inherit;
} */


p {
    text-decoration: none;
    text-transform: none;
    text-align: left;
    text-indent: none;
    line-height: 1.5;
    letter-spacing: normal;
    word-spacing: normal;

    font-weight: 300;
    font-style: normal;
}
